#
# Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    # Kernel modules
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_q6_pdr audio_q6_notifier audio_snd_event audio_apr audio_adsp_loader audio_q6 audio_native audio_usf audio_pinctrl_lpi audio_swr audio_swr_ctrl audio_platform audio_stub audio_wcd_core audio_wcd9xxx audio_wsa881x_analog audio_bolero_cdc audio_va_macro audio_rx_macro audio_tx_macro audio_mbhc audio_wcd937x audio_wcd937x_slave audio_pm2250_spmi audio_aw87359_audio audio_aw87519_audio audio_rouleur audio_rouleur_slave audio_machine_bengal

    # Enable scheduler boost
    write /proc/sys/kernel/sched_boost 1
    exec u:r:vendor_qti_init_shell:s0 -- /vendor/bin/init.qti.early_init.sh
    setprop ro.soc.model ${ro.vendor.qti.soc_model}

on init
    # Energy-aware scheduler tuning nodes
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1

    # Moving to init as this is needed for qseecomd
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    start vendor.qseecomd
    start keymaster-4-0

    # Boot time fs tuning
    write /dev/sys/fs/by-name/userdata/data_io_flag 56
    write /dev/sys/fs/by-name/userdata/node_io_flag 56
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/scheduler cfq
    write /sys/block/sde/queue/iosched/slice_idle 0
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048
    write /sys/block/dm-3/queue/read_ahead_kb 2048

on early-fs
    start vold

on fs
    start hwservicemanager
    mount_all /vendor/etc/fstab.qcom --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system

on late-fs
    mount_all /vendor/etc/fstab.qcom --late

on post-fs-data
    mkdir /vendor/data/tombstones 0771 system system
    mkdir /data/vendor/tloc 0700 system drmrpc

    # Create thermal configs folder
    mkdir /data/vendor/thermal 0771 root system

on boot
    # Optimize audio scheduling
    write /dev/cpuset/audio-app/cpus 1-2
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    chown system system /sys/kernel/hbtp/display_pwr
    start rmt_storage
    start rfs_access

    # Thermal configuration
    chown system system /sys/class/thermal/thermal_message/sconfig

    # USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss"
    setprop vendor.usb.controller 4e00000.dwc3

    # Goodix fingerprint configuration
    chown system system /dev/goodix_fp
    chmod 0777 /dev/goodix_fp
    mkdir /data/vendor/goodix
    chmod 0777 /data/vendor/goodix

    # FPC fingerprint configuration
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/compatible_all
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/compatible_all
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/hw_reset
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/hw_reset
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/fingerdown_wait
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/fingerdown_wait

    # QSEECOM
    chown system system /dev/qseecom
    chmod 0666 /dev/qseecom

    # Display
    chmod 0666 /sys/devices/platform/soc/5e00000.qcom,mdss_mdp/backlight/panel0-backlight/brightness
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_cabc
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_cabc_still
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_cabc_movie

    # Focaltech fingerprint configuration
    chown system system /dev/focaltech_fp
    chmod 0777 /dev/focaltech_fp
    mkdir /data/vendor/focaltech 0760 system system
    restorecon /data/vendor/focaltech

    # CDFinger fingerprint configuration
    chown system system /dev/fpsdev0
    chmod 0777 /dev/fpsdev0

    # Silead fingerprint configuration
    mkdir /data/system/silead 0770 system system

    # Create camera configs folder
    mkdir /mnt/vendor/persist/camera 0777 system camera
    mkdir /data/vendor/camera/model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model 0777 system camera
    mkdir /data/vendor/camera/model/bokeh_model 0777 system camera

    # Copy necessary camera configs from vendor partition
    copy /vendor/etc/camera/model/rt_model/cache_data /data/vendor/camera/model/rt_model/cache_data
    chmod 0777 /data/vendor/camera/model/rt_model/cache_data
    copy /vendor/etc/camera/model/rt_model/model_mdl_cache /data/vendor/camera/model/rt_model/model_mdl_cache
    chmod 0777 /data/vendor/camera/model/rt_model/model_mdl_cache
    copy /vendor/etc/camera/model/rt_model/segment_model /data/vendor/camera/model/rt_model/segment_model
    chmod 0777 /data/vendor/camera/model/rt_model/segment_model
    copy /vendor/etc/camera/model/bokeh_model/cache_data /data/vendor/camera/model/bokeh_model/cache_data
    chmod 0777 /data/vendor/camera/model/bokeh_model/cache_data
    copy /vendor/etc/camera/model/bokeh_model/model_mdl_cache /data/vendor/camera/model/bokeh_model/model_mdl_cache
    chmod 0777 /data/vendor/camera/model/bokeh_model/model_mdl_cache
    copy /vendor/etc/camera/model/bokeh_model/segment_model /data/vendor/camera/model/bokeh_model/segment_model

    # Set permission for some camera configs file
    chmod 0777 /data/vendor/camera/model/bokeh_model/segment_model
    chmod 0777 /vendor/etc/camera/com.xiaomi.dcal.wd.golden
    chmod 0777 /data/vendor/camera/rear_dc_cal_wd.bin
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0777 /mnt/vendor/persist/camera/mi_calib_2k_output.bin

    # NFC
    chmod 0666 /dev/st21nfc
    chown nfc nfc /dev/st21nfc

    # Load WLAN driver
    insmod /vendor/lib/modules/qca_cld3_wlan.ko

    # Start sensors service
    start vendor.sensors

on property:sys.boot_completed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 2-5
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/system-background/cpus 2-5
    write /dev/cpuset/restricted/cpus 2-5

on boot && property:persist.vendor.usb.controller.default=*
    setprop vendor.usb.controller ${persist.vendor.usb.controller.default}

on property:vendor.usb.controller=*
    setprop sys.usb.controller ${vendor.usb.controller}

on charger
    start vendor.power_off_alarm
    setprop vendor.usb.controller 4e00000.dwc3
    setprop sys.usb.configfs 1
    # Trigger mi_thermald
    wait /sys/class/power_supply/battery/temp
    start mi_thermald

on boot
    wait /sys/class/power_supply/battery/temp
    start mi_thermald

# Xiaomi thermal daemon
service mi_thermald /system/vendor/bin/mi_thermald
    class main
    user root
    group system
    seclabel u:r:mi_thermald:s0

on property:sys.boot_completed=1

    # Runtime fs tuning
    write /dev/sys/fs/by-name/userdata/data_io_flag 8
    write /dev/sys/fs/by-name/userdata/node_io_flag 8
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128

# pd-mapper
service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system
    task_profiles ServiceCapacityLow

# Peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4
    task_profiles ServiceCapacityLow

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    task_profiles ServiceCapacityLow
    disabled

on property:sys.boot.hwc=*
    setprop ro.boot.hwc ${sys.boot.hwc}
on property:sys.boot.cpuid=*
    setprop ro.boot.cpuid ${sys.boot.cpuid}

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

on property:vold.decrypt=trigger_restart_framework
   start vendor.cnss_diag

service vendor.cnss_diag /system/vendor/bin/cnss_diag -q -f -t HELIUM
    class main
    user system
    group system wifi inet sdcard_rw media_rw diag
    disabled
    oneshot

on property:persist.vendor.cnss_diag.enable=true
    start vendor.cnss_diag

on property:persist.vendor.cnss_diag.enable=false
    stop vendor.cnss_diag

########### FTM begin ##########
########### FTM begin ##########
########### FTM begin ##########

on boot
    chown root root /sys/class/huaqin/interface/hw_info/lcm
    chmod 0666 /sys/class/huaqin/interface/hw_info/lcm

    # LED permission
    chmod 0777 /sys/class/leds/led:torch_0/brightness
    chmod 0777 /sys/class/leds/led:switch_0/brightness

    # Touchscreen configs
    chmod 0777 /proc/android_touch/self_test

    # Power supply
    chmod 0777 /sys/class/power_supply/battery/input_suspend
    chmod 0777 /sys/class/power_supply/battery/constant_charge_current_max

    # Ignore modem crash
    write /sys/bus/msm_subsys/devices/subsys3/restart_level related

    # Ignore adsp crash
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related

    # Touchpanel
    chown system system /sys/touchpanel/double_tap

service dcvs-sh /vendor/bin/init.qti.dcvs.sh
    class late_start
    user root
    group root system
    disabled
    oneshot

on property:vendor.dcvs.prop=1
   start dcvs-sh

########### FTM end ##########
########### FTM end ##########
########### FTM end ##########

